@font-face
{
    font-family: tit;

    src: url('./41cfe1ee060bcbee90e5df772f4c25ca.otf');
}

@font-face
{
    font-family: chat;

    src: url('./4fc3773169ab3b129a5765d77e49c39f.TTF');
}


*
{
    margin: 0;
    padding: 0;
}
html,
body
{
    height: 100%;
}

#main
{
    /*  filter: url(blur.svg#blur); 
    -webkit-filter: blur(2px); 
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);
            filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false); */
    width: 100%;
    height: 100%;

    background-image: url('./ye.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top
{
    width: 100%;
    height: 40px;

    background: rgba(0,0,1,.5);
}

.logo
{
    display: inline-block;

    width: 40px;
    height: 100%;

    background: white;
}

.footer
{
    position: fixed;
    bottom: 0;

    width: 100%;

    text-align: center;

    color: white;
}

#title
{
    font-family: tit;
    font-size: 30px;

    position: relative;

    display: block;

    width: 300px;
    height: 90px;
    margin: 0 auto;

    text-align: center;
}

.box
{
    overflow: hidden;

    width: 80%;
    height: 450px;
    margin: 0 auto;

    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    background-image: linear-gradient(0deg, rgba(0,0,0,.01),rgba(255,255,255,.2));
    box-shadow: 0 20px 30px rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    /*    display: flex;*/
}

.Bin
{
    position: relative;
    top: 50px;

    display: block;

    width: 50%;
    height: 25px;
    margin: 0 auto;

    transition: all .3s;

    color: white;
    border-width: 0 0 2px 0;
    outline: none;
    background: rgba(255,255,255,.0);
}

.Bin:focus
{
    width: 80%;
}

.chatbox
{
    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 350px;
    margin: 0 auto;
}

.mess:nth-child(even)
{
    clear: both;

    margin-left: 100px;

    border: 1px red solid;
}

.mess:nth-child(odd)
{
    float: right;

    margin-right: 100px;

    border: 1px blue solid;
}

.mess
{
    font-family: chat;

    width: 200px;
    height: 100px;
    margin-top: 10px;
}

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
